In [1]:
x=10

In [2]:
my_123=10

In [3]:
_123my=12

In [4]:
1_my=10

SyntaxError: invalid token (<ipython-input-4-8c4c3e5b2625>, line 1)

In [7]:
m and=12

SyntaxError: invalid syntax (<ipython-input-7-fe065029c071>, line 1)

In [8]:
my_123

10

In [9]:
My_123

NameError: name 'My_123' is not defined

In [10]:
import keyword

In [11]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [12]:
len(keyword.kwlist)

35

In [14]:
x=10
print(x)
print(type(x))

10
<class 'int'>

In [15]:
x=10.2
print(x)
print(type(x))

10.2
<class 'float'>

In [16]:
x=10+3j
print(x)
print(type(x))

(10+3j)
<class 'complex'>

In [17]:
x=True
print(x)
print(type(x))

True
<class 'bool'>

In [18]:
x=False
print(x)
print(type(x))

False
<class 'bool'>

In [19]:
x="data"
print(x)
print(type(x))

data
<class 'str'>

In [20]:
x='data deep'
print(x)
print(type(x))

data deep
<class 'str'>

In [21]:
x=[1,2,3]
print(x)
print(type(x))

[1, 2, 3]
<class 'list'>

In [22]:
x=(1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [23]:
x={1,2,3}
print(x)
print(type(x))

{1, 2, 3}
<class 'set'>

In [24]:
x={1:'data','phy':45}
print(x)
print(type(x))

{1: 'data', 'phy': 45}
<class 'dict'>

In [25]:
x={1:'data','phy':45}
print(x,type(x))

{1: 'data', 'phy': 45} <class 'dict'>

In [1]:
# string functions

In [2]:
x="data"
y='deep data'

In [4]:
a="""hello 
how are you?"""

In [5]:
print(a)

hello
how are you?

In [7]:
a='''hai
w r u couldnt see u'''

In [8]:
print(a)

hai
w r u couldnt see u

In [18]:
x

'data'

In [19]:
x[0]

'd'

In [20]:
x[1:]

'ata'

In [12]:
x[1:3]

'at'

In [13]:
x[:3]

'dat'

In [14]:
x[-3:]

'ata'

In [15]:
x[-3:-1]

'at'

In [16]:
x[:-3]

'd'

In [17]:
x[-4:3]

'dat'

In [21]:
x="data science"

In [22]:
x.capitalize()

'Data science'

In [23]:
x.title()

'Data Science'

In [24]:
x.upper()

'DATA SCIENCE'

In [25]:
a="HYDERABAD"
a.lower()

'hyderabad'

In [26]:
a.isupper()

True

In [27]:
x.isupper()

False

In [28]:
x.islower()

True

In [29]:
x

'data science'

In [30]:
x.count('e')

2

In [31]:
x.index('t')

2

In [32]:
x.index('a')

1

In [33]:
x.rindex('a')

3

In [34]:
x.isalpha()

False

In [35]:
x

'data science'

In [37]:
a.isalnum()

True

In [38]:
a

'HYDERABAD'

In [39]:
a="hyd123"

In [40]:
a.isalnum()

True

In [41]:
a.isnumeric()

False

In [42]:
a.isdigit()

False

In [44]:
x.isspace()

False

In [45]:
s=" "

In [46]:
s.isspace()

True

In [47]:
len(x)

12

In [48]:
min(x)

' '

In [49]:
x

'data science'

In [50]:
max(x)

't'

In [51]:
a="data"

In [52]:
a.zfill(20)

'0000000000000000data'

In [53]:
a.center(20,'*')

'********data********'

In [54]:
a.ljust(20,'+')

'data++++++++++++++++'

In [55]:
a.rjust(25,'/')

'/////////////////////data'

In [56]:
a.rjust(25," ")

'                     data'

In [57]:
q=','

In [58]:
q.join(x)

'd,a,t,a, ,s,c,i,e,n,c,e'

In [62]:
q="-----"

In [63]:
q.join(x)

'd-----a-----t-----a----- -----s-----c-----i-----e-----n-----c-----e'

In [61]:
x

'data science'

In [64]:
x.split(" ")

['data', 'science']

In [65]:
a="madam"

In [66]:
a.strip('m')

'ada'

In [67]:
a.lstrip('m')

'adam'

In [68]:
a.rstrip('m')

'mada'

In [70]:
a.find('a')

1

In [71]:
a.rfind('a')

3

In [72]:
x

'data science'

In [73]:
x.startswith('m')

False

In [74]:
x.endswith('e')

True

In [75]:
x

'data science'

In [76]:
x.swapcase()

'DATA SCIENCE'

In [77]:
a="HyDeRAbaD"

In [78]:
a.swapcase()

'hYdEraBAd'

In [79]:
x

'data science'

In [80]:
x.replace('a','---')

'd---t--- science'

In [81]:
x.replace('a','@')

'd@t@ science'